<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <div class="text-light text-center py-5">
        <h1 class="display-4 text__color">URL Shortener</h1>   
   </div>
    <div class="blogs content d-flex justify-content-center">
        <h2 class="">Opps!!!! NOT FOUND 404 ERROR</h2>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>






<%- include('./partials/scriptTag.ejs') %>

</html>